body {
	height: 100%;
	width: 100%;
	/*background: url(img/controller01.jpg);*/
	/*background-size: cover;*/
	background-color: #222222;
	background-position: center center;
	background-position: no-repeat;
}

body {
	font-family: 'Raleway', 'Helvetica', 'sans-serif';
}

hr {
	border: 1px solid #F05F40;
	max-width: 50px;
}

a {
	-webkit-transition: all 0.35s;
	-moz-transition: all .35s;
	transition: all 0.35s;
	color: white;
	text-decoration: none;
}
a:hover {
	color: #F05F40;
	text-decoration: underline;
	/*letter-spacing: 0.5px;*/
}
a:focus {
	color: #F05F40;
}
a:active {
	color: #EB3812;
}


/*a{
  color: white;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

table{
  text-align: center;
}

#header{
  text-align: center;
}

#menu{
  text-align: center;
  border: solid 1px;
  font-weight: bold;
}

#menu ul li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#footer{
  text-align: center;
}

.member{
  margin: 50px;
  display: inline-block;
}*/
