body {
	height: 100%;
	width: 100%;
	/*background: url(img/controller01.jpg);*/
	/*background-size: cover;*/
	background-color: white;
	background-position: center center;
	background-position: no-repeat;
}

body {
	font-family: 'Open Sans', 'Helvetica', 'sans-serif';
	color: black;
}

hr {
	border: 1px solid #F05F40;
	max-width: 50px;
}

a {
	-webkit-transition: all 0.35s;
	-moz-transition: all .35s;
	transition: all 0.35s;
	color: #444;
	text-decoration: none;
}
a:hover {
	color: #F05F40;
	text-decoration: underline;
	/*letter-spacing: 0.5px;*/
}
a:focus {
	color: #F05F40;
}
a:active {
	color: #444;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', 'Helvetica', 'sans-serif';
	color: black;
	text-align: center;
}

p {
	font-size: 16px;
	line-height: 2;
	margin-bottom: 20px;
	color: #222;
}

.navlist {
	list-style: none;
	width: 100%;
	text-align: center;
	margin: 0 center;
	padding: 0;
	font-size: 20px;
	z-index: 2;
}
.navlist li {
	display: inline;
	letter-spacing: 1px;
	padding: 5px;
}

.current {
	color: #f05f40;
	font-size: 25px;
}


/* SPLASH page stuff */

/* header - includes navbar and background */

.splash-header {
  background: url(https://www.walldevil.com/wallpapers/w02/796892-dualshock-gamepad-game-pad-playstation-2-playstation-3-video-game-consoles-video-games.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.splash-header .splash-header-darken {
	background: rgba(0,0,0,0.5);
	z-index: 1;
	position: relative;
	margin: 0 auto;
	height: inherit;
	width: 100%;
	top: 0;
	left: 0;
}

.splash-container {
  max-width:1000px;
}

.container.container-centered {
	padding-top: 10%;
}

.navbar {
	margin: 0;
	padding: 0;
	z-index: 2;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0);
}

footer div.container {
	margin-left: 10px;
}

footer div.container p {
	font-size: 12px;
}

/*.splash-navbar {
  padding: 10px 0;
  background-color: black;
  z-index: 2;
  position: relative;
}
.splash-nav {
  display: inline-block;
  right: 0px;
}

.splash-nav ul {
}

.splash-nav li {
  display: inline-block;
  float:right; 
  color: White;
  font-size: 25px;
  margin-left: 30px;
  display: inline;
  letter-spacing: 1px;
  padding: 5px;
  color: white;
}*/

/* title */
/*.splash-title {
  position: relative;
  font-size: 150px;
  top: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  background: none;
  color: white;
  text-align: left;
  float: left;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.splash-title h1 {
  font-size: 50px;
}*/

.splash-title {
	position: absolute;
 	text-align: center;
 	width: 100%;
 	z-index: 1;
 	top: 0;
 	height: inherit;
}

.splash-title .splash-title-inner h1{
	font-weight: 700;
	text-transform: uppercase;
	margin: 50vh auto;
	color: white;

}

.container {
  max-width: 940px;
}


/* Supporting */
.splash-supporting {
  text-align: center;
  color: black;
  height: 80vh;
  column-gap: 300px;
}

.splash-supporting h4 {
  font-size: 40px;
  width: 200px;
 
 }

.splash-supporting p {
  font-size: 20px;
  width: 200px;
  text-align:center;
  
 }

.inner {
  padding: 0 400px 0 0;
}

.splash-supporting .btn {
  border-radius: 5px;
  margin: 40px 40px 40px 40px;
  font-size: 20px;
	border: 2px solid #f05f40;
	background-color: #f05f40;
  color: white;
	padding: 15px 0 15px 0;
	width: 120px;
	text-align: center;
}

.img-circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.title {
  color: #f05f40;
}

.about-h2{
  text-align:left;
  display: block;
  margin-bottom: 35px;
  margin-left: 50px;
}

.about_photo {
  float: left;
}

.about-container {
  margin-left: 50px;
  float: left;
  margin-right: 35px;
  width: 300px;
}

.member {
  display: inline-block;
  height: 300px;
}
