body {
	height: 100%;
	width: 100%;
	/*background: url(img/controller01.jpg);*/
	/*background-size: cover;*/
	background-color: white;
	background-position: center center;
	background-position: no-repeat;
}

body {
	font-family: 'Open Sans', 'Helvetica', 'sans-serif';
	color: black;
}

hr {
	border: 1px solid #F05F40;
	max-width: 50px;
}

a {
	-webkit-transition: all 0.35s;
	-moz-transition: all .35s;
	transition: all 0.35s;
	color: #444;
	text-decoration: none;
}
a:hover {
	color: #F05F40;
	text-decoration: underline;
	/*letter-spacing: 0.5px;*/
}
a:focus {
	color: #F05F40;
}
a:active {
	color: #EB3812;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', 'Helvetica', 'sans-serif';
	color: black;
	text-align: center;
}

p {
	font-size: 16px;
	line-height: 2;
	margin-bottom: 20px;
	color: #222;
}